arrow==1.1.0
asgiref==3.3.4
click==7.1.2
bcrypt==3.2.0
cffi==1.14.5
cryptography==39.0.1
ecdsa==0.17.0
fastapi==0.65.2
Flask==2.0.1
h11==0.12.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
python-dateutil==2.8.1
python-jose==3.3.0
python-multipart==0.0.5
redis==3.5.3
rq==1.8.1
rq-dashboard==0.6.1
rsa==4.7.2
six==1.16.0
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
Werkzeug==2.0.1
